<div th:fragment="hero" class="hero-area hero-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">
            <h1>Hệ thống tiêm chung dành cho trẻ
            </h1>
            <div class="hero-btns">
              <a href="#" class="boxed-btn">Vắc xin</a>
              <a href="#" class="bordered-btn">Liên hệ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>