
<footer>
    <div th:fragment="footer" class="footer-container">
        <div class="footer-header">

            <p>HỆ THỐNG TRUNG TÂM TIÊM CHỦNG VẮC XIN CHO TRẺ EM </p>
            <p><strong>AN TOÀN - UY TÍN - CHẤT LƯỢNG HÀNG ĐẦU VIỆT NAM</strong></p>
        </div>

        <div class="footer-content">
            <div class="footer-section">
                <h2>Hệ thống Miền Bắc</h2>
                <ul>
                    <li>Bắc Giang</li>
                    <li>Điện Biên</li>
                    <li>Hà Nam</li>
                    <li>Hoà Bình</li>
                    <li>Lạng Sơn</li>
                    <li>Ninh Bình</li>
                    <li>Quảng Ninh</li>
                    <li>Thái Nguyên</li>
                    <li>Yên Bái</li>
                    <li>Bắc Ninh</li>
                    <li>Hà Nội</li>
                </ul>
            </div>
            <div class="footer-section">
                <h2>Hệ thống Miền Trung</h2>
                <ul>
                    <li>Bình Định</li>
                    <li>Đắk Lắk</li>

                    <li>Thừa Thiên Huế</li>
                    <li>Đà Nẵng</li>
                    <li>Đắk Nông</li>
                    <li>Hà Tĩnh</li>
                    <li>Kon Tum</li>
                    <li>Quảng Bình</li>
                    <li>Quảng Ngãi</li>
                    <li>Thanh Hóa</li>
                    <li>Phú Yên</li>
                </ul>
            </div>
            <div class="footer-section">
                <h2>Hệ thống Miền Nam</h2>
                <ul>
                    <li>An Giang</li>

                    <li>Lâm Đồng</li>
                    <li>Ninh Thuận</li>
                    <li>Tiền Giang</li>
                    <li>Sóc Trăng</li>
                    <li>Bà Rịa - Vũng Tàu</li>
                    <li>Bến Tre</li>
                    <li>Bình Phước</li>
                    <li>Cà Mau</li>
                    <li>Đồng Nai</li>
                    <li>Hồ Chí Minh</li>

                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p><strong>CÔNG TY CỔ PHẦN VACCIN VIỆT NAM</strong></p>
            <p>Địa chỉ: 180 Trường Chinh, phường Khương Thượng, quận Đống Đa, TP Hà Nội</p>
            <p>Email: cskh@vnvc.vn | Hotline: 028 7102 6595</p>
        </div>
    </div>
</footer>
