<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--</head>-->
<!--<body>-->
<div th:fragment="header"  class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <div class="logo">
                            <a href="/indexx">
                                <i class="fas fa-shield-alt"></i>
                            </a>
                        </div>
                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item"><a href="/indexx">Trang chủ</a>
                            </li>
                            <li><a href="/indexx">Giới thiệu</a>
                                <ul class="sub-menu">
                                    <li><a href="/gioithieu">Về hệ thống tiêm chủng</a></li>
                                    <li><a href="/doingu">Đội ngũ chuyên gia</a></li>
                                </ul>
                            </li>
                            <li><a href="/indexx">Vắc xin trẻ em</a>
                                <ul class="sub-menu">
                                    <li><a href="/lido">Vì sao trẻ em cần tiêm vắc xin</a></li>
                                    <li><a href="/lichtiem">Lịch tiêm chủng cho trẻ</a></li>
                                    <li><a href="/loaivacxin">Các loại vắc xin</a></li>
                                    <li><a href="/banggia">Bảng giá tiêm chủng</a></li>
                                </ul>
                            </li>
                            <li><a href="/indexx">Cẩm nang</a>
                                <ul class="sub-menu">
                                    <li><a href="/danhmuc">Danh mục vắc xin</a></li>
                                    <li><a href="/quytrinh">Quy trình tiêm chủng</a></li>
                                    <li><a href="/luuytruoc">Lưu ý trước khi tiêm</a></li>
                                    <li><a href="/luuysau">Lưu ý sau khi tiêm</a></li>
                                </ul>
                            </li>
                            <li><a href="/indexx">Liên hệ </a></li>
                            <li><a href="/indexx">F&Q</a></li>

                            <li>
                                <div class="header-icons">
                                    <a class="shopping-cart" href="#"><i class="fas fa-shopping-cart"></i></a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->

                </div>
            </div>
        </div>
    </div>
</div>

<!--</body>-->
<!--</html>-->