* {
    
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
   max-width: 1300px;
   margin: auto;
}
header{
    text-align: center;
    background-color: white;
}
.logo {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3),
               10px 10px 10px rgba(0, 0, 0, 0.2);
  }
/*---------nav----------------------------------------------------------------------------------------------------*/

nav {
  
    background-color:white;    
}
nav ul {
    display : flex;
    justify-content:  space-between;
    align-items: center;
    border-radius: 5px;
    /*border: solid;
    /*border-left-color: rgb(249,243,227);
    border-right-color: rgb(249,243,227);
    border-top-color: rgb(249,243,227);
   */
   /*
    border-bottom-style: solid;
    padding: 5px;
    border-bottom-color: grey;*/
}


nav ul li,a{
    color: rgb(3,52,104);
    font-size: 15px;
}

nav ul li:nth-child(2) a {
    color: black;
}
nav ul li:nth-child(2) i {
    color:black; 
    font-size: 15px;
    padding-left: 5px;
 
}
nav ul li:nth-child(3){
    position: relative ;
}
nav ul li:nth-child(3) input {
    height: 30px;
    width: 100%;
    border-radius: 10px;
    border:rgb(237,237,237) solid;
    outline:none;
    background-color: rgb(237,237,237);
    font-style: italic;
}


nav ul li:nth-child(3)  i {
    position: absolute;
    font-size: 15px;
    right: 12px;
    color: black;
    line-height: 30px;
    cursor: pointer;
}
nav ul li:nth-child(4) button {
    height: 30px;
    padding: 0 12px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid #8d8b8b;
    border-radius: 5px;
    transition: all 0.3s ease ;

}

nav ul li:nth-child(4) button:hover{
    background-color: rgb(255, 255, 255);
}
nav ul li:nth-child(5){
    text-align: center;
}
nav ul li:nth-child(5) :hover a {
    color:black;
}
nav ul li:nth-child(6) a {
    color: yellowgreen;
}
.btn-content{
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color:yellowgreen;
    display: block;
    float: left;
    margin-right: 8px;

}
.btn-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color:yellowgreen;
    display: block;
    pointer-events: none;
    animation: btnani 2s linear infinite;
    display: block;
    
}
@keyframes btnani{
    from {
        opacity: 0.4;

    }
    to {
        transform: scale(3);
        opacity: 0;

    }
}
section ul li img{
    
    border-radius: 20px;
    object-fit: cover;
}
h2{
    color: rgb(3,52,104);
    padding-top: 50px;
    text-align: center;
}
/*----------menu bar----------------------------------------------------------------------------------------*/
.menu-bar ul {
    display : flex;
    justify-content:  space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.menu-bar{
    padding: 50px 0 ;
    background-color: white;
}
.menu-bar ul li a{
    color: black;
    font: 16px;
}
.menu-bar ul li{
    transition: all 0.3s ease;
}
.menu-bar ul li:hover{
    background-color: rgb(255, 254, 254);
}
.menu-bar ul li p{
    font-size: 17px;
    padding: 10px 0 ;
}
/*
.menu-bar ul li a :nth-child(2){
    position: relative;
}
.menu-bar ul li a :nth-child(2)::before{
    position: absolute;
    content: "HOT";
    display: block;
    height: 15px;
    width: 45px;
    background-color: orange;
    border-radius: 5px;
    right: 0;
    top: 0;
    font-size: 15px;
    color: red;
    padding-left: 3px;
}
.meuu-bar ul li:nth-child(2)::after{
    position: absolute;
    content: "";
    background-color: orange;
    height: 7px;
    width: 7px;
    display: block;
    top: 0;
    right: 0;
    z-index: 2;
    transform: rotate(45deg);

}
*/
/*------------------addess-form--------------------------------------------------------------------------------*/
.address-form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0,0, 0.5);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
    z-index: 999;

}
.address-form-content{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
}
.address-form-content form{
    padding: 12px 40px;

}
.address-form-content h2{
    font-size: 14px;
    padding:12px 0px;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.address-form-content h2 span{
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px ;
    border: 1px solid #ddd;
    right: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    color: #8d8b8b;
    border-radius: 5px;
}
.address-form-content form p {
    font-size: 16px;
}
.address-form-content form input, select{
    width: 100%;
    margin-top: 20px;
    height: 45px;
    display: block;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
}
.address-form-content form button{
    margin-top: 20px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: rgb(3,52,104) ;
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;

}
/*----------SLIDER-----------------------------------------------------------------------------------------*/
.slider{
    padding:20px 0;
    height: 350px;
}
.slider-content{
    display: flex;
    justify-content: space-between;
}
.slider-content-left{
    width: 65%;
}
.slider-content-left-top{
    width: 100%;
    height: 300px;
    position: relative;
}
/*.slider-content-left-top :hover i{
    opacity: 1;
}
*/
.slider-content-left-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    
}
.slider-content-left-bottom{
    display: flex;
    justify-content: space-between;
    border: 2px solid #ddd;
    border-top: none;
    height: 50px;
    align-items: center;
}
.slider-content-left-bottom li{
    width: 20%;
    text-align: center;
    cursor: pointer;
    padding: 6px 0;
    height: 100%;
    line-height: 38px;
    position: relative;
}
.slider-content-left-bottom li::before{
    display: block;
    content: "";
    position: absolute;
    height: 70%;
    background-color: #ddd;
    width: 1px;
    right:0;
}
.slider-content-left-bottom li.active{
    border-top: 4px solid rgb(3,52,104);
}
.slider-content-right{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    padding:0 40px;
    justify-content: space-around;
}
.slider-content-right li{
    width: 50%;
    height: 50%;
    text-align: center;
    margin-bottom: 6px;
}
.slider-content-right li img{
    height: 170px;
    width: 170px;
}
.slider-content-left-top-btn{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-content-left-top-btn i{
    color: #000000;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

/*-----------------------SLIDE JS------------------------------------------------------------------------*/
.slider-content-left-top img{
    position: absolute;
}
.slider-content-left-top a:nth-child(2) img{
    transform: translateX(100%);
}
.slider-content-left-top a:nth-child(3) img{
    transform: translateX(200%);
}
.slider-content-left-top a:nth-child(4) img{
    transform: translateX(300%);
}
.slider-content-left-top a:nth-child(5) img{
    transform: translateX(400%);
}
.slider-content-left-top-container{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.slider-content-left-top-container :hover i{
    opacity: 1;
}
.slider-content-left-top{
    transition: all 0.3s ease;
}
/*------------slide click-----------------------------------------------------------------------------------*/
.slider-content-left-bottom li.active{
    font-weight: bold;
    color: rgb(175, 176, 140);
}
.slider-content-left-bottom li{
    border-top: solid white;
    border-bottom: solid white;
}
/*---------------Banner one----------------------------------------------------------------------------------*/
.banner-one { 
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
}
/*-------------Slider product 1------------------------------------------------------------------------------*/
.slider-product-one-content-title h2{
    font-style: italic;
   margin-bottom: 25px;
}
.slider-product-one-content-item-text li:nth-child(3){
    font-style: italic;
}
.slider-product-one-content-item-text li:nth-child(2){
    color:rgb(97,97,97);
}
.slider-product-one-content{
    background-color: white;
    padding: 12px;
}
.slider-product-one-content-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.slider-product-one-content-item{
    width: 19%;
    background: linear-gradient(rgb(237,238,239),white);
    padding: 50px 12px 50px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.slider-product-one-content-item > img {
    width: 100%;
    transition: all 0.3s ease;
}
.slider-product-one-content-item-text{
    padding-top: 20px;
}
.slider-product-one-content-item-text li{
    margin-bottom: 6px;
}
.slider-product-one-content-item-text li:first-child{
    height: 30px;
    width: 70%;
    background-color:rgb(215,187,134) ;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 40px;
}
.slider-product-one-content-item-text li:first-child p{
    color: rgb(9, 9, 9);
    font-size: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.slider-product-one-content-item-text li:first-child img{
    width:30px ;
    float: left;
    margin-right: 6px;
}
.slider-product-one-content-item-text li:last-child i{
    color: rgb(215,187,134);
    
}
.slider-product-one-content-item-text li:nth-child(2):hover{
    color: rgb(3,52,104);

}
.slider-product-one-content-item-text li:nth-child(4) {
    text-decoration: line-through;
    color: rgb(117, 13, 13);
}
.slider-product-one-content-item-text li:nth-child(5){
    font-weight: bold;

}
.slider-product-one-content-item:hover img{
    transform: translateY(-20px);
    transition: all 0.5s ease;
}
/*-----------------------------------Slider product-----------------------------------------------------------------*/
.slider-product-one-content-container{
    position: relative;
    overflow: hidden;
}
.slider-product-one-content-btn{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.slider-product-one-content-btn i{
    color: #000000;
    font-size: 32px;
    height: 50px;
    width: 25px;
    background-color: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.slider-product-one-content-items-content{
    position: relative;
    height: 550px;
    transition:all 0.3s ease;
}
.slider-product-one-content-items{
    position: absolute;
}
.slider-product-one-content-items:nth-child(2){
    transform: translateX(100%);

}
.slider-product-one-content-items:nth-child(3){
    transform: translateX(200%);

}
/*------------------FIX Lá»–I----------------------------------------------------------------------------------------*/
.slider-content-left{
    width: 70%;
}
.slider-content-right{
    width: 27%;
    padding: 0;
}
/*--------------------------------product-gallery---------------------------------------------------*/
.product-gallery-one-content-product{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-gallery-one-content-product-item{
    width: 19%;
    padding: 50px 12px 12px;
    border: 2px solid #ddd;
    background: linear-gradient(rgb(237,238,239),white);
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 3px;
    

}
.product-gallery-one-content-product-item > img{
    width: 100%;
    transition: all 0.3s ease;
}
.product-gallery-one-content-product-item-text{
    padding-top: 20px;
}
.product-gallery-one-content-product-item-text li{
    margin-bottom: 6px;
}
.product-gallery-one-content-product-item-text li:first-child{
    height: 30px;
    width: 70%;
    background-color:rgb(215,187,134) ;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 40px;
}
.product-gallery-one-content-product-item-text li:first-child p{
    color: rgb(9, 9, 9);
    font-size: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.product-gallery-one-content-product-item-text li:first-child img{
    width:30px ;
    float: left;
    margin-right: 6px;
}
.product-gallery-one-content-product-item-text li:last-child i{
    color: rgb(215,187,134);
    
}
.product-gallery-one-content-product-item-text li:nth-child(2):hover{
    color: rgb(3,52,104);

}
.product-gallery-one-content-product-item-text li:nth-child(4) {
    text-decoration: line-through;
    color: rgb(117, 13, 13);
}
.product-gallery-one-content-product-item-text li:nth-child(5){
    font-weight: bold;

}
.product-gallery-one-content-product-item-text:hover img{
    transform: translateY(-20px);
    transition: all 0.5s ease;
}
.product-gallery-one-content-product-item:hover img{
    transform: translateY(-20px);
    transition: all 0.5s ease;

}
.product-gallery-one-content-product-item:hover{
    box-shadow: 3px 3px 3px #dddccd;
}
.product-gallery-one{
    margin-top: 30px;
}
.product-gallery-one-content-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
}
.product-gallery-one-content-title ul li a{
    color: #333;
    font-size: 12px ;
    transition: all 0.3s ease;

}
.product-gallery-one-content-title ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
.product-gallery-one-content-title ul li{
    padding: 5px 12px;
    border: 1px solid #ddd;
    margin-top: 10px;
    border-radius: 40px;
   
}
.product-gallery-one-content-title ul li:hover a{
    color: rgb(165, 122, 122);
}
.product-gallery-one-content-title h2{
    cursor: pointer;
    margin-bottom: 20px;
}
/*-----------------------Product-gallery-two-----------------------------------------------------*/
.product-gallery-two{
    margin-top: 30px;
    display: flex;
    padding-right: 12px;
    background-color:rgb(239,239,239);    
}
.product-gallery-two-content{
    justify-content: center;
    display: flex;
    align-items: center;
}
.product-gallery-two-content-right {
    width: 40%;
}
.product-gallery-two-content-right img{
    width: 100%;
}
.product-gallery-two-content-left{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.product-gallery-two-content-left-top{
    height: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: rgb(11, 10, 10);
}
.product-gallery-two-content-left-top li{
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
.product-gallery-two-content-left-top .active {
    background-color: #c1cfd4;
    color: rgb(14, 16, 16);
} 
.product-gallery-two-content-left-top li:last-child{
    border: none;
}
.product-gallery-two-content-left-top li:last-child a{
    font-size: 16px;
}
.product-gallery-two-content-left-top li:last-child i{
    margin-left: 3px;
}
.product-gallery-two-content-left-bottom {
    background-color: white;
    display: flex;
    border-radius: 5px;
    background: linear-gradient(to right rgb(237,238,239),white);
}
.product-gallery-two-content-left-bottom-item{
    width: 25%;
    padding: 50px 20px 20px;
    border-right: 2px solid rgb(195, 187, 187);
    
}
.product-gallery-two-content-left-bottom-item img{
    width:100% ;
    cursor: pointer;
}
.product-gallery-two-content-left-bottom-item:hover img{
    transform: translateY(-20%);
    transition: all 0.3s ease;
}