<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/fa8c2eff71.js" crossorigin="anonymous"></script>   
    <link rel="stylesheet" href="/css/style.css">
    <title>LVT</title>
</head>
<body>
<header>
    <nav>
        <div class="container">
           <ul>
               <li><a href =""><img style="width: 120px" src="image/logonentrang.jpg" alt=""title="LVT"></a></li>
               <li id="address-form"><a href ="#">SÀI GÒN<i class="fa-solid fa-sort-down"></i></a></li>
               <li><input type="text" placeholder="Tìm Kiếm Nhanh..."><i class="fa-solid fa-magnifying-glass"></i></li>
               <li><a href ="procart.html"></a><button><i class="fa-solid fa-cart-shopping"></i>Giỏ hàng</button></li>
               <li><a href ="">Lịch sử <br> đơn Hàng</a></li>
               <li><a href =""><span class="btn-content"><span class="btn-top"></span></span>Mua trả góp !</a></li>
               <li><a href ="">Trực 24/7</a></li>
               <li><a href ="">Hỏi đáp thắc mắc</a></li>
               <li><a href ="">Mini game</a></li>
                <div class="address-form">
                    <div class="address-form-content">
                        <h2>Chọn địa chỉ nhận hàng <span id="address-close">X đóng</span></h2>
                        <form action="">
                            <p>Chọn đầy đủ địa chỉ nhận hàng để biết chính xác thời gian giao </p>
                            <select name="" >
                                <option value="#">--Chọn địa điểm</option>
                                <option value="#">--Sài gòn</option>
                            </select>
                            <select name="" >
                                <option value="#">--Chọn quận\huyện</option>
                                <option value="#">--Sài gòn</option>
                            </select>
                            <select name="" >
                                <option value="#">--Chọn phường\xã</option>
                                <option value="#">--Sài gòn</option>
                            </select>
                            <input type="text"placeholder="Số nhà, tên đường,(không bắt buộc)">
                            <button>XÁC NHẬN</button>
                        </form>
                    </div>
                </div>
           </ul>
        </div>
    </nav>
    <div class="logo-container">
        <img src="image/xuan-retail-2025-1972x640noscheme.jpg" alt="Logo" class="logo" iframe width="100%">
      </div>
</header>

<h2>Bạn đang tìm gì hôm nay ?</h2>

<section class="menu-bar">
    <div class="container">
        <div class="menu-bar-content">
            <ul>
               
                <li><a href="procart.html"><img style="width: 200px;" src="image1/nhancuoi.png" alt=""><br><b><p style="color: rgb(90,90,90);">Nhẫn kim cương</p></b></a></li>
                <li><a href="procart.html"><img style="width: 200px;" src="image1/nhancauhon.png" alt=""><br><b><p style="color: rgb(90,90,90);">Nhẫn cầu hôn </p></b> </a></li>
                <li><a href="procart.html"><img style="width: 200px;" src="image1/bongtai.png" alt=""><br><b><p style="color :rgb(90,90,90)">Bông tai</p></b></a></li>
                <li><a href="procart.html"><img style="width: 200px;" src="image1/daychuyen.png" alt=""><br><b><p style="color: rgb(90,90,90);">Dây chuyền</p></b></a></li>
                <li><a href="procart.html"><img style="width: 200px;" src="image1/dongho.png" alt=""><br><b><p style="color: rgb(90,90,90);">Đồng Hồ</p></b></a></li>
            </ul>
        </div>
    </div>

</section>
<section class="slider">
    <div class="container">
        <div class="slider-content">
            <div class="slider-content-left">
               <div class="slider-content-left-top-container">
                    <div class="slider-content-left-top">
                        <a href=""><img src="image/logolvt.jpg" alt=""></a>
                        <a href=""><img src="image/DonMuaKhoiSac.jpg" alt=""></a>
                        <a href=""><img src="image/xuan-retail-2025-1972x640noscheme.jpg" alt=""></a>
                        <a href=""><img src="image/cauhon.jpg" alt=""></a>
                        <a href=""><img src="image/transucvang.png" alt=""></a>
                
                    </div>
                    <div class="slider-content-left-top-btn">
                        <i class="fa-solid fa-chevron-left"></i>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
                    <div class="slider-content-left-bottom">
                        <li class="active">Tiêu đề 1</li>
                        <li>Tiêu đề 2</li>
                        <li>Tiêu đề 3</li>
                        <li>Tiêu đề 4</li>
                        <li>Tiêu đề 5</li>
                    </div>
            </div>
            <div class="slider-content-right">
                <li><a href=""><img src="image/img1.webp" alt=""></a></li>
                <li><a href=""><img src="image/img2.webp" alt=""></a></li>
                <li><a href=""><img src="image/img3.webp" alt=""></a></li>
                <li><a href=""><img src="image/img4.webp" alt=""></a></li>
            </div>
        </div>
    </div>
</section>
<section class="banner-one">
    <div class="container">
        <img src="image/banner.webp" alt=""iframe width="100%">
    </div>
</section>
<!------------------------------------------Slider-product------------------------------------------------------>
<section class="slider-product-one">
    <div class="container">
        <div class="slider-product-one-content">
            <div class="slider-product-one-content-title">
                <h2>Săn Sale Online Mỗi Ngày</h2>
            </div>
            <div class="slider-product-one-content-container">
                <div class="slider-product-one-content-items-content">
                    <div class="slider-product-one-content-items">
                        <div class="slider-product-one-content-item">
                            <img src="image/product1.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Nhẫn Vàng 18K đính đá CZ chữ Tài XM00Y004932</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>8.000.000 <sup>Đ</sup></li>
                                <li>7.299.000 <sup>Đ</sup></li>
                                <li>Quà 400.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                        <div class="slider-product-one-content-item">
                            <img src="image/product3.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Bông tai Vàng trắng Ý 18K 0000W002727</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>6.000.000 <sup>Đ</sup></li>
                                <li>5.724.000 <sup>Đ</sup></li>
                                <li>Quà 40.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                        <div class="slider-product-one-content-item">
                            <img src="image/product2.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Nhẫn Vàng 18K đính đá CZ chữ Lộc XM00Y004933</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>8.000.000 <sup>Đ</sup></li>
                                <li>7.184.000<sup>Đ</sup></li>
                                <li>Quà 500.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                        <div class="slider-product-one-content-item">
                            <img src="image/product5.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Mặt dây chuyền Vàng 24K 0000Y001566</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>5.000.000 <sup>Đ</sup></li>
                                <li>4.756.000<sup>Đ</sup></li>
                                <li>Quà 100.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                        <div class="slider-product-one-content-item">
                            <img src="image/product5.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Mặt dây chuyền Vàng 24K 0000Y001566</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>5.000.000 <sup>Đ</sup></li>
                                <li>4.756.000<sup>Đ</sup></li>
                                <li>Quà 100.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div> <div class="slider-product-one-content-item">
                            <img src="image/product5.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Mặt dây chuyền Vàng 24K 0000Y001566</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>5.000.000 <sup>Đ</sup></li>
                                <li>4.756.000<sup>Đ</sup></li>
                                <li>Quà 100.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                        <div class="slider-product-one-content-item">
                            <img src="image/product4.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Dây chuyền Vàng 24K 0000Y012244</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>38.000.000 <sup>Đ</sup></li>
                                <li>34.717.000 <sup>Đ</sup></li>
                                <li>Quà 1.000.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="slider-product-one-content-items">
                        <div class="slider-product-one-content-item">
                            <img src="image/product6.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Nhẫn Vàng 18K đính đá CZ chữ Tài XM00Y004932</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>8.000.000 <sup>Đ</sup></li>
                                <li>7.299.000 <sup>Đ</sup></li>
                                <li>Quà 400.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                        <div class="slider-product-one-content-item">
                            <img src="image/product7.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Bông tai Vàng trắng Ý 18K 0000W002727</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>6.000.000 <sup>Đ</sup></li>
                                <li>5.724.000 <sup>Đ</sup></li>
                                <li>Quà 40.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                        <div class="slider-product-one-content-item">
                            <img src="image1/product8.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Nhẫn Vàng 18K đính đá CZ chữ Lộc XM00Y004933</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>8.000.000 <sup>Đ</sup></li>
                                <li>7.184.000<sup>Đ</sup></li>
                                <li>Quà 500.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                        <div class="slider-product-one-content-item">
                            <img src="image/product9.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Mặt dây chuyền Vàng 24K 0000Y001566</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>5.000.000 <sup>Đ</sup></li>
                                <li>4.756.000<sup>Đ</sup></li>
                                <li>Quà 100.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                        <div class="slider-product-one-content-item">
                            <img src="image/product10.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Dây chuyền Vàng 24K 0000Y012244</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>38.000.000 <sup>Đ</sup></li>
                                <li>34.717.000 <sup>Đ</sup></li>
                                <li>Quà 1.000.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                    </div>
                    <div class="slider-product-one-content-items">
                        <div class="slider-product-one-content-item">
                            <img src="image/product1.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Nhẫn Vàng 18K đính đá CZ chữ Tài XM00Y004932</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>8.000.000 <sup>Đ</sup></li>
                                <li>7.299.000 <sup>Đ</sup></li>
                                <li>Quà 400.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                        <div class="slider-product-one-content-item">
                            <img src="image/product3.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Bông tai Vàng trắng Ý 18K 0000W002727</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>6.000.000 <sup>Đ</sup></li>
                                <li>5.724.000 <sup>Đ</sup></li>
                                <li>Quà 40.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                        <div class="slider-product-one-content-item">
                            <img src="image/product2.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Nhẫn Vàng 18K đính đá CZ chữ Lộc XM00Y004933</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>8.000.000 <sup>Đ</sup></li>
                                <li>7.184.000<sup>Đ</sup></li>
                                <li>Quà 500.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                        <div class="slider-product-one-content-item">
                            <img src="image/product5.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Mặt dây chuyền Vàng 24K 0000Y001566</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>5.000.000 <sup>Đ</sup></li>
                                <li>4.756.000<sup>Đ</sup></li>
                                <li>Quà 100.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                        <div class="slider-product-one-content-item">
                            <img src="image/product4.png" alt="">
                            <div class="slider-product-one-content-item-text">
                                <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                                <li>Dây chuyền Vàng 24K 0000Y012244</li>
                                <li>Nhanh tay chốt đơn </li>
                                <li>38.000.000 <sup>Đ</sup></li>
                                <li>34.717.000 <sup>Đ</sup></li>
                                <li>Quà 1.000.000 <sup>Đ</sup></li>
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="slider-product-one-content-btn">
                    <i class="fa-solid fa-chevron-left fa-chevron-left-two"></i>
                    <i class="fa-solid fa-chevron-right fa-chevron-right-two"></i>
                </div>

            </div>
        </div>
    </div>
</section>
<!------------------------------------------PRoduct gallery----------------------------------------------------->
<div class="product-gallery-one">
    <div class="container">
        <div class="product-gallery-one-content">
            <div class="product-gallery-one-content-title">
                <h2>TRANG SỨC NỔI BẬT NHẤT </h2>
                <ul>
                    <li><a href="">Vàng 888</a></li>
                    <li><a href="">Vàng trắng</a></li>
                    <li><a href="">Bạc nguyên </a></li>
                    <li><a href="">Xem thêm</a></li>

                </ul>
            </div>
            <div class="product-gallery-one-content-product">
                <div class="product-gallery-one-content-product-item">
                    <img src="image/product1.png" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                        <li>Nhẫn Vàng 18K đính đá CZ chữ Tài XM00Y004932</li>
                        <li>Nhanh tay chốt đơn </li>
                        <li>8.000.000 <sup>Đ</sup></li>
                        <li>7.299.000 <sup>Đ</sup></li>
                        <li>Quà 400.000 <sup>Đ</sup></li>
                        <li>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="image/product1.png" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                        <li>Nhẫn Vàng 18K đính đá CZ chữ Tài XM00Y004932</li>
                        <li>Nhanh tay chốt đơn </li>
                        <li>8.000.000 <sup>Đ</sup></li>
                        <li>7.299.000 <sup>Đ</sup></li>
                        <li>Quà 400.000 <sup>Đ</sup></li>
                        <li>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="image/product1.png" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                        <li>Nhẫn Vàng 18K đính đá CZ chữ Tài XM00Y004932</li>
                        <li>Nhanh tay chốt đơn </li>
                        <li>8.000.000 <sup>Đ</sup></li>
                        <li>7.299.000 <sup>Đ</sup></li>
                        <li>Quà 400.000 <sup>Đ</sup></li>
                        <li>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="image/product1.png" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                        <li>Nhẫn Vàng 18K đính đá CZ chữ Tài XM00Y004932</li>
                        <li>Nhanh tay chốt đơn </li>
                        <li>8.000.000 <sup>Đ</sup></li>
                        <li>7.299.000 <sup>Đ</sup></li>
                        <li>Quà 400.000 <sup>Đ</sup></li>
                        <li>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="image/product1.png" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                        <li>Nhẫn Vàng 18K đính đá CZ chữ Tài XM00Y004932</li>
                        <li>Nhanh tay chốt đơn </li>
                        <li>8.000.000 <sup>Đ</sup></li>
                        <li>7.299.000 <sup>Đ</sup></li>
                        <li>Quà 400.000 <sup>Đ</sup></li>
                        <li>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="image/product1.png" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                        <li>Nhẫn Vàng 18K đính đá CZ chữ Tài XM00Y004932</li>
                        <li>Nhanh tay chốt đơn </li>
                        <li>8.000.000 <sup>Đ</sup></li>
                        <li>7.299.000 <sup>Đ</sup></li>
                        <li>Quà 400.000 <sup>Đ</sup></li>
                        <li>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="image/product1.png" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                        <li>Nhẫn Vàng 18K đính đá CZ chữ Tài XM00Y004932</li>
                        <li>Nhanh tay chốt đơn </li>
                        <li>8.000.000 <sup>Đ</sup></li>
                        <li>7.299.000 <sup>Đ</sup></li>
                        <li>Quà 400.000 <sup>Đ</sup></li>
                        <li>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="image/product1.png" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                        <li>Nhẫn Vàng 18K đính đá CZ chữ Tài XM00Y004932</li>
                        <li>Nhanh tay chốt đơn </li>
                        <li>8.000.000 <sup>Đ</sup></li>
                        <li>7.299.000 <sup>Đ</sup></li>
                        <li>Quà 400.000 <sup>Đ</sup></li>
                        <li>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="image/product1.png" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                        <li>Nhẫn Vàng 18K đính đá CZ chữ Tài XM00Y004932</li>
                        <li>Nhanh tay chốt đơn </li>
                        <li>8.000.000 <sup>Đ</sup></li>
                        <li>7.299.000 <sup>Đ</sup></li>
                        <li>Quà 400.000 <sup>Đ</sup></li>
                        <li>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </li>
                    </div>
                </div>
                <div class="product-gallery-one-content-product-item">
                    <img src="image/product1.png" alt="">
                    <div class="product-gallery-one-content-product-item-text">
                        <li><i class="fa-brands fa-salesforce"></i><p>Trợ giá mùa tết</p></li>
                        <li>Nhẫn Vàng 18K đính đá CZ chữ Tài XM00Y004932</li>
                        <li>Nhanh tay chốt đơn </li>
                        <li>8.000.000 <sup>Đ</sup></li>
                        <li>7.299.000 <sup>Đ</sup></li>
                        <li>Quà 400.000 <sup>Đ</sup></li>
                        <li>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </li>
                    </div>
                </div>
                

            </div>
        </div>
    </div>

</div>
<!-----------------------------------------Product gallery two-------------------------------------------------->
<section class="product-gallery-two">
    <div class="container">
        <div class="product-gallery-two-content">
            <div class="product-gallery-two-content-right">
                <img src="image/img3.webp" alt="">
            </div>
            <div class="product-gallery-two-content-left">
                    <div class="product-gallery-two-content-left-top">
                        <li class="active">Đồng Hồ thông minh </li>
                        <li>Trang sức nữ </li>
                        <li>Trang sức nam  </li>
                        <li>Trang sức trẻ em  </li>
                        <li><a href="">Xem tất cả </a><i class="fa-solid fa-play"></i></li>
                    </div>
                    <div class="product-gallery-two-content-left-bottom">
                        <div class="product-gallery-two-content-left-bottom-item">
                            <img src="image/product1.png" alt="">
                            <div class="product-gallery-two-content-left-bottom-item-text">
                                <li>Đặt trước đến 16/09</li>
                                <li>Vàng 888</li>
                                <li>Bạc trắng</li>
                                <li>Đau lưng</li>
                                <li>Ưu đãi khủng</li>
                            </div>
                        </div>
                        <div class="product-gallery-two-content-left-bottom-item">
                            <img src="image/product1.png" alt="">
                            <div class="product-gallery-two-content-left-bottom-item-text">
                                <li>Đặt trước đến 16/09</li>
                                <li>Vàng 888</li>
                                <li>Bạc trắng</li>
                                <li>Đau lưng</li>
                                <li>Ưu đãi khủng</li>
                            </div>
                        </div>
                        <div class="product-gallery-two-content-left-bottom-item">
                            <img src="image/product1.png" alt="">
                            <div class="product-gallery-two-content-left-bottom-item-text">
                                <li>Đặt trước đến 16/09</li>
                                <li>Vàng 888</li>
                                <li>Bạc trắng</li>
                                <li>Đau lưng</li>
                                <li>Ưu đãi khủng</li>
                            </div>
                        </div>
                        <div class="product-gallery-two-content-left-bottom-item">
                            <img src="image/product1.png" alt="">
                            <div class="product-gallery-two-content-left-bottom-item-text">
                                <li>Đặt trước đến 16/09</li>
                                <li>Vàng 888</li>
                                <li>Bạc trắng</li>
                                <li>Đau lưng</li>
                                <li>Ưu đãi khủng</li>
                            </div>
                        </div>
                        <div class="product-gallery-two-content-left-bottom-item">
                            <img src="image/product1.png" alt="">
                            <div class="product-gallery-two-content-left-bottom-item-text">
                                <li>Đặt trước đến 16/09</li>
                                <li>Vàng 888</li>
                                <li>Bạc trắng</li>
                                <li>Đau lưng</li>
                                <li>Ưu đãi khủng</li>
                            </div>
                        </div>

                    </div>
            </div>

        </div>

    </div>

</section>
<script src="../static/image/js/java.js"></script>
</body>
</html>